version: '3'

services:
  mongodb:
    container_name: mongodb
    image: mongo:latest
    hostname: mongodb
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_SERVER: mongodb

  app:
    build:
      context: .
    command: npm run dev
    environment:
      MONGO_URL: mongodb
    volumes:
      - .:/src/
      - nodemodules:/src/node_modules
    links:
      - mongodb
    depends_on:
      - mongodb

volumes:
  nodemodules: {}
