version: '3'

services:
  mongodb:
    container_name: mongodb
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_SERVER: ${MONGO_URL}
    links:
      - mongodb
    depends_on:
      - mongodb

  app:
    build:
      context: .
    command: npm run dev
    environment:
      MONGO_URL: ${MONGO_URL}
      MONGO_USER: ${MONGO_USER}
      MONGO_PASSWORD: ${MONGO_PASSWORD}
      DISCORD_TOKEN: ${DISCORD_TOKEN}
      DISCORD_CHANNEL: ${DISCORD_CHANNEL}
    volumes:
      - .:/src/
      - nodemodules:/src/node_modules
    links:
      - mongodb
    depends_on:
      - mongodb

volumes:
  nodemodules: {}
